<form action="/results">
  <div class="form-group">
    <label for="inputText">Enter A Word Or Sentence: </label>
    <input type="text" name="inputText" id="inputText" class="form-control">
  </div>
</form>
